<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="AccountEndpoint=;"/>
    <add key="DatabaseName" value=""/>
    <add key="ContainerName" value=""/>
  </appSettings>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>