<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="AccountEndpoint=https://geoarticle-cosmos.documents.azure.com:443/;AccountKey=K2P9iWD7yET67DcoV7RQ4jQtrXRfbYSirZ9htdDlN6zUk9jrjSREdtPYVS4mlhRVKkzz4C8lWucD0Pf2jg3RZA==;"/>
    <add key="DatabaseName" value="states"/>
    <add key="ContainerName" value="hawaii"/>
    <add key="FilePath" value="C:\Developments\azure-cosmosdb-geospatial\azure-cosmosdb-geospatial\DataFile\nasa_earth_meteorite_landings.json"/>
  </appSettings>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>